{% extends "cdbmeta/base.html" %}
{% block meta_title %}Search{% endblock %}

{% block content %}
<h1>Browse</h1>

<div class="container">

<div class="row">

<div class="col-sm-2">
<h4>Material</h4>
<ul class="list-group">
{% for material in materials %}
<li class="list-group-item"><a href="/cdbmeta/?material__chemical_formula={{ material.chemical_formula }}">{{ material.chemical_formula }}</a></li>
{% endfor %}
</ul>
</div>

<div class="col-sm-10">
<h4>Publication</h4>
<ul class="list-group">
{% for ref in refs %}
<li class="list-group-item">{{ ref.html|safe }} <a href="/cdbmeta/?attribution__publication_doi={{ ref.doi|urlencode:"" }}">[data sets]</a></li>
{% endfor %}
</ul>
</div>

</div>
</div>
{% endblock %}
