{% extends "cdbmeta/base.html" %}
{% load static %}

{% block meta_title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>
<div class="container content-container">

<p>CascadesDB is maintained and developed by the <a href="https://www-amdis.org/">Atomic and Molecular Data Unit</a> at the <a href="https://www.iaea.org/">International Atomic Energy Agency</a>.</p>
<p>For more information, please contact <a href="mailto:ch.hill@iaea.org">Christian Hill</a>.</p>

</div>
{% endblock %}

