{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>CascadesDB</title>
</head>
<body>

<h1 class="text-center">CascadesDB</h1>
<div class="container">
<p>CascadesDB is a database of molecular dynamics simulations of collision cascades.</p>
<p>A <a href="/cdbmeta/">simple search interface is provided for obtaining data from CascadesDB</a>.</p>
<p><a href="/cdbmeta/doc">Documentation</a> for the XML format used to describe the metadata, CDBML, is also available.</p>

<div class="text-center">
<figure class="figure">
<img src="{% get_media_prefix %}featured_images/tungsten_cascade_200keV.png" width="800" height="600" alt="Collisional cascade due to a 200 keV primary knock-on atom in tungsten" class="figure-img img-fluid rounded"/>
<figcaption class="figure-caption">An illustration of the simulated collisional cascade in tungsten caused by the impact of a 200 keV neutron.</figcaption>
</figure>
</div>

<!--<p>If you have a login ID and password you can <a href="/cdbdata/">upload data here</a>.</p>-->
<p>Contact: <a href="mailto:ch.hill@iaea.org">Christian Hill</a></p>
</div>

</body>
</html>
