{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>CascadesDB</title>
</head>
<body>

<h1 class="text-center">CascadesDB</h1>
<div class="container">
<p>CascadesDB is a database of molecular dynamics simulations of collisional cascades.</p>
<p>If you have a login ID and password you can <a href="/cdbdata/">upload data here</a>.</p>
<p>Alternatively, a <a href="/cdbmeta/">simple search interface is also provided for existing data</a>.</p>
<p>Contact: <a href="mailto:ch.hill@iaea.org">Christian Hill</a></p>
</div>

</body>
</html>
