{% extends "cdbmeta/base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="google-site-verification" content="TTJoYszeuzdpL3kiPe7yVRLV3awad3AQLHjmayi3diw" />
{% endblock %}

{% block meta_title %}Home{% endblock %}

{% block content %}
<h1>CascadesDB</h1>

<div class="container">
<h4>About CascadesDB</h4>
<p>CascadesDB is a database of molecular dynamics simulations of collision cascades, developed by the International Atomic Energy Agency. The project was initiated by the <a href="https://www-amdis.org/meetings/ccn-5/">5th meeting</a> of the IAEA's <a href="https://www-amdis.org/CCN/">Code Centres Network</a> in November 2017 to enhance the usage and long-term curation of collisional cascade simulations for the analysis and prediction of radiation damage in materials for fusion and fission applications.</p>

<p id="data-amount-banner" class="text-center bg-dark text-white">There are currently about {{ total_size }} of data in {{ total_sims }} simulations across {{ narchives }} archives.</p>

<h4>Advisory Board</h4>
<p>The development and maintenance of CascadesDB is overseen by an international scientific committee with the following membership:</p>
<ul>
<li>Andrea Sand, University of Helsinki, Finland (Chair)</li>
<li>María Caturla, University of Alicante, Spain</li>
<li>Sergei Dudarev, UK Atomic Energy Authority, UK</li>
<li>Christian Hill, International Atomic Energy Agency</li>
<li>Wahyu Setyawan, Pacific Northwest National Laboratory, USA</li>
</ul>

<h4>Contributing Data</h4>
<p>To contribute data to CascadesDB, please contact <a href="mailto:ch.hill@iaea.org">Christian Hill</a>. Simulation data should consist of archives of plain-text xyz files along with optional supplementary files such as simulation code input files. Such archives may contain several simulations differing only in the PKA recoil direction or initial lattice thermalization. Metadata, as described in <a href="/cdbmeta/doc">the documentation</a> may be provided in XML or plain-text format.</p>

<div class="text-center">
<figure class="figure">
<img src="{% get_media_prefix %}featured_images/tungsten_cascade_200keV.png" width="800" height="600" alt="Collisional cascade due to a 200 keV primary knock-on atom in tungsten" class="figure-img img-fluid rounded"/>
<figcaption class="figure-caption">An illustration of the simulated collisional cascade in tungsten initiated by a 200 keV recoil from an impact with an energetic neutron.<br/><em>Image courtesy of Andrea Sand, University of Helsinki.</em></figcaption>
</figure>
</div>

<!--<p>If you have a login ID and password you can <a href="/cdbdata/">upload data here</a>.</p>-->
</div>

{% endblock %}
