body {
  font-family: 'IBM Plex Sans', sans-serif; }

.content-container {
    max-width: 800px;
}

p#data-amount-banner {
    padding: 10px 0 10px 0;
}

div.xn-tab-content {
    padding-top: 20px;
}

footer .container {
  font-size: 80%;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 3px black solid;
}

pre#licence {
    max-width: 680px;
    margin: 0 auto 0 auto;
    border: 1px black solid;
}

h1 {
    padding-left: 20px;
    background-color: #eee;
}

.card {
    margin-bottom: 40px;
}

.card-header {
    background-color: #a0d0a0;
}

.search-card {
    max-width: 800px;
    background-color: #eee;
    margin: 10px auto 40px auto;
}

.value {
    font-weight: bold;
}

.search-examples {
    color: #888;
}

li.mandatory {
    font-weight: bold;
}
li.optional {
    font-weight: normal;
}
